<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LuckasEnt</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link rel="stylesheet" href="nosotros.css" />
  </head>

  <body>
    <div class="main-container">
      <div class="nav-bar">
        <div class="logo">
          <span class="luckas">Luckas</span><span class="ent">ent</span>
        </div>
        <div class="textfield">
          <input
            type="text"
            placeholder="Busca un producto o tienda"
            class="search-bar"
          />
          <button class="ic-search">
            <img
              src="https://static.codia.ai/image/2025-03-11/38e86369-02f1-4617-bc53-a733fcf819f4.svg"
              alt="Buscar"
            />
          </button>
        </div>
        <div class="navigation">
          <a href="index.html" class="tab-inicio">Inicio</a>
          <a href="nosotros.html" class="tab-nosotros">Nosotros</a>
          <div class="frame">
            <a href="crear-cuenta.html" class="tab-crear-cuenta"
              >Crear Cuenta</a
            >
          </div>
          <div class="frame-1">
            <a href="iniciar-sesion.html" class="tab-iniciar-sesion"
              >Mi Perfil</a
            >
            <div class="person-outline"></div>
          </div>
        </div>
      </div>
      <div class="nav-bar-2">
        <div class="navigation-3">
          <span class="tab-ofertas" onclick="alert('Ofertas')">Ofertas</span>
          <div class="frame-6">
            <span class="tab-mi-lista" onclick="alert('Mi Lista')"
              >Mi Lista</span
            >
          </div>
          <div class="frame-7">
            <span class="tab-favoritos" onclick="alert('Favoritos')"
              >Favoritos</span
            >
          </div>
          <div class="frame-8">
            <span class="tab-ayuda" onclick="alert('Ayuda')">Ayuda</span>
          </div>
        </div>
      </div>
      <div class="separator">
        <div class="line"></div>
      </div>

      <div class="main-principal">
        <div class="container">
          <div class="title">Bienvenidos a nuestro sitio</div>
          <div class="description">
            Tu guía para encontrar lo bueno, bonito y barato
          </div>
        </div>
        <div class="image-container">
          <img
            class="image"
            src="https://i.ibb.co/s91Vd7GP/tim-van-der-kuip-CPs2-X8-JYm-S8-unsplash.jpg"
          />
          <!-- hombre sentado en la silla con camisa gris de manga larga con cuello redondo usando Apple Magic Keyboard | Foto de Tim van der Kuip en Unsplash -->
        </div>
        <img class="vector-200" src="vector-2000.svg" />
      </div>

      <div class="nuestra-historia">
        <div class="container2">
          <div class="container">
            <div class="title">Nuestra Historia</div>
            <div class="description">
              Nace como un proyecto que busca desarrollar un sistema de
              información web que permita a los consumidores colombianos tomar
              decisiones efectivas al momento de comparar productos en línea,
              facilitando el acceso a información detallada y actualizada, en
              colombia.
            </div>
            <div class="button">
              <button
                class="primary"
                onclick="window.location.href='https://github.com/SoliDeoGloria123/LuckasEnt_';"
              >
                <div class="title2">Ver GitHub</div>
              </button>
            </div>
          </div>
          <div class="image-container2">
            <img
              class="image"
              src="https://i.ibb.co/d4Fk8q7n/crystal-mapes-liak2l9-DQi-Q-unsplash.jpg"
            />
            <!-- Moneda redonda de plata sobre mesa de madera marrón | Foto de Crystal Mapes en Unsplash-->
          </div>
        </div>
        <div class="list">
          <div class="row">
            <div class="article">
              <div class="image-container3">
                <img
                  class="image2"
                  src="https://i.ibb.co/d0tc1wjp/daria-kraplak-d34-Dt-Rp1bqo-unsplash.jpg"
                />
                <!-- black typewriter | Foto de Daria Kraplak en Unsplash-->
              </div>
              <div class="frame-427318906">
                <div class="title3">¿Por qué LuckasEnt?</div>
                <div class="subtitle">
                  Nace en base al nombre del Medico Lucas, de la Biblia,
                  especificamente porque Lucas se encarga, como persona ilustre,
                  en investigar muy detalladamente de forma historica la vida de
                  Jesús, Ver Lucas 1 y 2:1 NTV
                </div>
                <div class="selection">
                  <div class="label-normal">
                    <div class="label-text">Inovación</div>
                  </div>
                  <div class="label-normal">
                    <div class="label-text">Utilidad</div>
                  </div>
                </div>
                <div class="user">
                  <div class="avatar">
                    <img class="avatar2" src="avatar1.png" />
                    <div class="frame-4273189062">
                      <div class="title4">Juan David Mahecha S.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="article2">
              <div class="image-container4">
                <div class="image3"></div>
                <img
                  class="unsplash-rfnf-3-p-s-br-3-k"
                  src="https://i.ibb.co/cScVhYXq/the-new-york-public-library-rfnf3p-SBr3k-unsplash.jpg"
                />
                <!-- Fotografía en escala de grises de una niña acostada cerca del campo | Foto de The New York Public Library en Unsplash-->
              </div>
              <div class="frame-427318906">
                <div class="title3">¿Qué es LuckasEnt?</div>
                <div class="subtitle">
                  LuckasEnt es un sistema de información web diseñado para
                  comparar los precios de productos de la canasta básica en
                  diferentes retailers en Colombia, como Makro, Alkosto, Mercado
                  Libre, etc. Utiliza web scraping para extraer datos y
                  presentarlos de manera clara y concisa a los usuarios.
                </div>
                <div class="selection">
                  <div class="label-normal">
                    <div class="label-text">Anecdota</div>
                  </div>
                  <div class="label-normal">
                    <div class="label-text">Software</div>
                  </div>
                </div>
                <div class="user">
                  <div class="avatar">
                    <img class="avatar2" src="avatar3.png" />
                    <div class="frame-4273189062">
                      <div class="title4">Juan David Mahecha S.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="vector-2002" src="vector-2001.svg" />
      </div>

      <div class="contents">
        <div class="container3">
          <div class="title5">Herramientas De Desarrollo</div>
        </div>
        <div class="list">
          <div class="row">
            <div class="article2">
              <div
                class="image-container5"
                style="
                  background: url(image-container4.png) center;
                  background-size: cover;
                  background-repeat: no-repeat;
                "
              >
                <div class="image3">
                  <img
                    class="image"
                    src="https://st4.depositphotos.com/15076736/21704/i/450/depositphotos_217047022-stock-photo-abstract-pastel-soft-colorful-smooth.jpg"
                  />
                  <!-- Fotografía de un hombre con gafas de sol y una chaqueta negra | Foto de Bruno Thethe en Unsplash-->
                </div>
              </div>
              <div class="frame-427318906">
                <div class="title3">Front-end</div>
                <div class="subtitle">
                  HTML, CSS, JS, Docker, Uvicorn, FastApi
                </div>
                <div class="user2"></div>
              </div>
            </div>
            <div class="article2">
              <div class="image-container5">
                <img
                  class="image"
                  src="https://st2.depositphotos.com/54528468/50612/i/450/depositphotos_506120292-stock-photo-colorful-gradient-geometric-pattern-background.jpg"
                />
              </div>
              <div class="frame-427318906">
                <div class="title3">Back-end</div>
                <div class="subtitle">Mongo</div>
              </div>
            </div>
          </div>
        </div>
        <img class="vector-2003" src="vector-2002.svg" />
      </div>

      <div class="products">
        <div class="container4">
          <div class="image-container2">
            <img class="image4" src="image6.png" />
          </div>
          <div class="container">
            <div class="title">Equipo de Desarrolladores</div>
            <div class="description">
              Desarrollado por Talento 100% Colombiano.
            </div>
            <div class="button2"></div>
          </div>
        </div>
        <div class="list2">
          <div class="row2">
            <div class="card">
              <div class="image-container6">
                <img
                  class="image5"
                  src="https://i.ibb.co/7NBjT266/Whats-App-Image-2024-07-31-at-05-38-25.jpg"
                />
              </div>
              <div class="text-content">
                <div class="title6">Juan David Mahecha Sabogal</div>
                <a
                  href="https://my.spline.design/bento3d-0556970b86ec50a26d4e0e68bf179fa4/"
                  class="subtitle2"
                  target="_blank"
                  >Ver Portaforio</a
                >
              </div>
            </div>
            <div class="card2">
              <div
                class="image-container7"
                style="
                  background: url(image-container8.png) center;
                  background-size: cover;
                  background-repeat: no-repeat;
                "
              >
                <div class="image3"></div>
              </div>
              <div class="text-content2">
                <div class="title6">Luis Felipe Sanchez Sierra</div>
                <a
                  href="https://luisfelipe-portfolio.com"
                  class="subtitle3"
                  target="_blank"
                  >Ver Portaforio</a
                >
              </div>
            </div>
            <div class="card2">
              <div
                class="image-container7"
                style="
                  background: url(https://i.ibb.co/LDv180P0/Whats-App-Image-2025-03-28-at-15-58-42.jpg)
                    center;
                  background-size: cover;
                  background-repeat: no-repeat;
                "
              >
                <div class="image3"></div>
              </div>
              <div class="text-content2">
                <div class="title6">Jenifer</div>
                <a
                  href="jeniferosorio.figweb.site"
                  class="subtitle3"
                  target="_blank"
                  >Ver Portaforio</a
                >
              </div>
            </div>
            <div class="card2">
              <div
                class="image-container7"
                style="
                  background: url(image-container10.png) center;
                  background-size: cover;
                  background-repeat: no-repeat;
                "
              >
                <div class="image3"></div>
              </div>
              <div class="text-content2">
                <div class="title6">Steeven Pedraza</div>
                <a
                  href="https://steevenpedraza-portfolio.com"
                  class="subtitle3"
                  target="_blank"
                  >Ver Portaforio</a
                >
              </div>
            </div>
          </div>
        </div>
        <img class="vector-2004" src="vector-2003.svg" />
      </div>
      <div class="form">
        <form action="/submit-suggestion" method="POST" class="container">
          <div class="form-content">
            <!-- Columna izquierda -->
            <div class="form-left">
              <div class="title">Tienes un sugerencia?</div>
              <div class="description">
                Si tienes una sugerencia para implementar en el proyecto, puedes
                escribirla, eso ayudara mucho.
              </div>
            </div>
            <!-- Columna derecha -->
            <div class="form-right">
              <div class="list3">
                <div class="row3">
                  <div class="input">
                    <label for="email" class="title7">Email</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="textfield2"
                      placeholder="Enter your email"
                      required
                    />
                    <div class="info">No somos spameros</div>
                  </div>
                </div>
                <div class="row3">
                  <div class="input">
                    <label for="name" class="title7">Nombre Completo</label>
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="textfield2"
                      placeholder="Your name"
                    />
                    <div class="info">Opcional</div>
                  </div>
                </div>
                <div class="row3">
                  <div class="input">
                    <label for="suggestion" class="title7">Sugerencia</label>
                    <textarea
                      id="suggestion"
                      name="suggestion"
                      class="textfield3"
                      placeholder="Escribe Aquí tu Sugerencia"
                    ></textarea>
                    <div class="info">Opcional</div>
                  </div>
                </div>
                <div class="button3">
                  <button
                    type="button"
                    class="seconday"
                    onclick="window.location.href='index.html';"
                  >
                    <div class="title8">Volver al Inicio</div>
                  </button>
                  <button type="submit" class="primary">
                    <div class="title2">Enviar</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <img class="vector-2005" src="vector-2004.svg" />
      </div>
      <div class="section">
        <div class="image-container8">
          <div class="image6">
            <div class="pagination">
              <div class="rectangle-3343"></div>
              <div class="rectangle-3344"></div>
              <div class="rectangle-3347"></div>
              <div class="rectangle-3340"></div>
            </div>
          </div>
        </div>
        <img class="vector-2006" src="vector-2005.svg" />
      </div>
      <div class="footer">
        <div class="content">
          <div class="column">
            <div class="content-e">
              <span class="heading"
                >Comparte y ahorra en tus compras diarias</span
              ><span class="text"
                >Encuentra los mejores precios en supermercados y toma
                decisiones inteligentes para tu hogar.</span
              >
            </div>
            <div class="actions">
              <div class="button-primary">
                <span class="button-explore">Explorar</span>
              </div>
              <div class="button-primary-f">
                <span class="button-help">Ayuda</span>
              </div>
            </div>
          </div>
          <div class="column-10">
            <div class="link-list">
              <div class="link"><span class="link-one">Inicio</span></div>
              <div class="link-11">
                <span class="link-two">Contáctanos</span>
              </div>
              <div class="link-12">
                <span class="link-three">Ayuda Online</span>
              </div>
              <div class="link-13">
                <span class="link-four">Política de Privacidad</span>
              </div>
              <div class="link-14">
                <span class="link-five">Términos de Uso</span>
              </div>
            </div>
          </div>
        </div>
        <div class="credits">
          <div class="row">
            <div class="content-15">
              <div class="logo-proyecto-luckasent"></div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row-16">
            <span class="copyright"
              >© 2024 LuckasEnt. Todos los derechos reservados.</span
            >
            <div class="social-links">
              <div class="icon-facebook"></div>
              <div class="icon-instagram"></div>
              <div class="icon-x"></div>
              <div class="icon-linkedin"></div>
              <div class="icon-youtube"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
