<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/olvidacontra.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />
</head>
<body>
    <div class="container">
        <div class="logo">
            <span class="luckas">Luckas</span><span class="ent">ent</span>
        </div>
        <a href="{{ url_for('login') }}" class="back-link">← Volver</a>
        <h2 class="title">Restablecer Contraseña</h2>
        
        <form action="#" method="post">
            <label for="username">Correo Electrónico</label>
            <input id="username" type="text" placeholder="Ingresa tu Correo Electrónico" required>
            <p class="info-text">Se enviará un código de verificación al correo digitado</p>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <a href="{{ url_for('registro') }}" class="register-link">No tienes cuenta? <span>Regístrate</span></a>
</body>
</html>