<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luckas Header</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/page.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />

</head>

<body>
    <nav class="nav-bar">
        <div class="logo">
            <span class="luckas">Luckas</span>
            <span class="ent">ent</span>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Busca un producto o tienda">
            <button><i class="fas fa-search"></i></button>
        </div>

        <nav class="nav-menu">
            <a href="{{ url_for('home')}}">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="{{ url_for('cuenta') }}">Mi perfil</a>
        </nav>
        </div>
    </nav>
    <!-- Menú de arriba -->
    <nav class="menu-container">
        <ul class="menu-navigation">
            <li><a class="menu-link" href="{{ url_for('categoria') }}">Categorías</a></li>
            <li><a class="menu-link" href="#">Ofertas</a></li>
            <li><a class="menu-link" href="{{ url_for('tulista') }}">Mi Lista</a></li>
            <li><a class="menu-link" href="#">Favoritos</a></li>
            <li><a class="menu-link" href="">Ayuda</a></li>
        </ul>
    </nav>
    <section class="hero">
        <div class="hero-container">


            <!-- Texto central -->
            <div class="hero-content">
                <h1>Descubre y Compara</h1>
                <p>Encuentra la mejor selección de productos</p>

                <!-- Barra de búsqueda -->
                <div class="hero-search">
                    <input type="text" placeholder="Busca un producto o tienda">
                    <button><i class="fas fa-search"></i></button>
                </div>

                <!-- Botón de buscar -->
                <button class="hero-button">Buscar</button>
            </div>
        </div>
    </section>

    <section class="productos-destacados">
        <h2>Productos Destacados</h2>

        <div class="carousel-container">
            <!-- Flecha izquierda -->
            <button class="arrow left">&lt;</button>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const detalleBtn = document.getElementById('detalle');
                    detalleBtn.addEventListener('click', function () {
                        window.location.href = "{{ url_for('detalle_producto') }}";  // Redirige a la página Flask
                    });
                });
            </script>
            <!-- Cards de productos -->
            <div class="carousel">
                <!-- Card 1 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>
                    <img src="{{ url_for('static', path='img/OIP.jpg') }}" alt="Carne para asar">
                    <div class="card-content">
                        <h3>Carne para asar</h3>
                        <p>500 g</p>
                        <p><strong>Precio Promedio:</strong> $17.000</p>
                        <div class="btn-group">
                            <button class="btn-azul">Agregar</button>
                            <button id="detalle" class="btn-detalles">Ver detalles</button>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>
                    <img src="{{ url_for('static', path='img/OIP_1.jpg') }}" alt="Papa Pastusa">
                    <div class="card-content">
                        <h3>Papa Pastusa</h3>
                        <p>1 kg</p>
                        <p><strong>Precio Promedio:</strong> $12.000</p>
                        <div class="btn-group">
                            <button class="btn-azul">Agregar</button>
                            <button id="detalle" class="btn-detalles">Ver detalles</button>
                        </div>
                    </div>
                </div>


                <!-- Card 3 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>
                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3>Salsa de tomate Graco</h3>
                        <p>135 g</p>
                        <p><strong>Precio:</strong> $6.000</p>
                        <div class="btn-group">
                            <button class="btn-azul">Agregar</button>
                            <button  id="detalle" class="btn-detalles">Ver detalles</button>
                        </div>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>
                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3>Salsa de tomate Graco</h3>
                        <p>135 g</p>
                        <p><strong>Precio:</strong> $6.000</p>
                        <div class="btn-group">
                            <button class="btn-azul">Agregar</button>
                            <button id="detalle" class="btn-detalles">Ver detalles</button>
                        </div>
                    </div>
                </div>
                <!-- Card 5  -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>
                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3>Salsa de tomate Graco</h3>
                        <p>135 g</p>
                        <p><strong>Precio:</strong> $6.000</p>
                        <div class="btn-group">
                            <button class="btn-azul">Agregar</button>
                            <button id="detalle" class="btn-detalles">Ver detalles</button>
                        </div>
                    </div>
                </div>
                <!-- Card 6 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>
                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3>Salsa de tomate Graco</h3>
                        <p>135 g</p>
                        <p><strong>Precio:</strong> $6.000</p>
                        <div class="btn-group">
                            <button class="btn-azul">Agregar</button>
                            <button  id="detalle" class="btn-detalles">Ver detalles</button>
                        </div>
                    </div>
                </div>
                <!-- Card 7 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>

                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3>Salsa de tomate Graco</h3>
                        <p>135 g</p>
                        <p><strong>Precio:</strong> $6.000</p>
                        <div class="btn-group">
                            <button class="btn-azul">Agregar</button>
                            <button  id="detalle"class="btn-detalles">Ver detalles</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Flecha derecha -->
            <button class="arrow right">&gt;</button>
        </div>

    </section>

    <section class="categorias">
        <h2>Explora&nbsp; nuestras categorías</h2>

        <div class="grid-categorias">
            <!-- Card 1 -->
            <div class="categoria-card">
                <div class="icono">
                    <img src="https://cdn-icons-png.flaticon.com/512/415/415733.png" alt="Frutas y Verduras">
                </div>
                <h3>Frutas y Verduras</h3>
                <p>Descubre las carnes de más alta calidad</p>
            </div>

            <!-- Card 2 -->
            <div class="categoria-card">
                <div class="icono">
                    <img src="https://cdn-icons-png.flaticon.com/512/135/135763.png" alt="Cárnicos">
                </div>
                <h3>Cárnicos</h3>
                <p>Descubre las carnes de más alta calidad</p>
            </div>

            <!-- Card 3 -->
            <div class="categoria-card">
                <div class="icono">
                    <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" alt="Pescados">
                </div>
                <h3>Pescados</h3>
                <p>Descubre las carnes de más alta calidad</p>
            </div>

            <!-- Card 4 -->
            <div class="categoria-card">
                <div class="icono">
                    <img src="https://cdn-icons-png.flaticon.com/512/415/415711.png" alt="Panadería">
                </div>
                <h3>Panadería</h3>
                <p>Descubre las carnes de más alta calidad</p>
            </div>

            <!-- Card 5 -->
            <div class="categoria-card">
                <div class="icono">
                    <img src="https://cdn-icons-png.flaticon.com/512/806/806120.png" alt="Dulces y Abarrotes">
                </div>
                <h3>Dulces y Abarrotes</h3>
                <p>Descubre las carnes de más alta calidad</p>
            </div>

            <!-- Card 6 -->
            <div class="categoria-card">
                <div class="icono">
                    <img src="https://cdn-icons-png.flaticon.com/512/2917/2917995.png" alt="Bebidas">
                </div>
                <h3>Bebidas</h3>
                <p>Descubre las carnes de más alta calidad</p>
            </div>
        </div>
    </section>

    <section class="favoritos">
        <h2>Tus favoritos <span>💙</span></h2>

        <div class="carousel-container">
            <!-- Flecha izquierda -->
            <button class="arrow left">&lt;</button>

            <!-- Carrusel de productos -->
            <div class="carousel">
                <!-- Producto 1 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>

                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3 aling center>lechuga romana</h3>
                        <div class="btn-group">
                            <button class="btn-azul">Ver</button>
                        </div>
                    </div>
                </div>
                <!-- Producto 2 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>

                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3 aling center>lechuga crespa</h3>
                        <div class="btn-group">
                            <button class="btn-azul">Ver</button>
                        </div>
                    </div>
                </div>

                <!-- Producto 3 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>

                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3 aling center>Zanahorias</h3>
                        <div class="btn-group">
                            <button class="btn-azul">Ver</button>
                        </div>
                    </div>
                </div>

                <!-- Producto 4 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>

                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3 aling center>lechuga romana</h3>
                        <div class="btn-group">
                            <button class="btn-azul">Ver</button>
                        </div>
                    </div>
                </div>
                <!-- Producto 5 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>

                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3 aling center>lechuga romana</h3>
                        <div class="btn-group">
                            <button class="btn-azul">Ver</button>
                        </div>
                    </div>
                </div>

                <!-- Producto 6 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>

                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3 aling center>lechuga romana</h3>
                        <div class="btn-group">
                            <button class="btn-azul">Ver</button>
                        </div>
                    </div>
                </div>

                <!-- Producto 7 -->
                <div class="card">
                    <div class="favorite"><i class="fas fa-heart"></i></div>

                    <img src="{{ url_for('static', path='img/OIP_2.jpg') }}" alt="Salsa de tomate Graco">
                    <div class="card-content">
                        <h3 aling center>lechuga romana</h3>
                        <div class="btn-group">
                            <button class="btn-azul">Ver</button>
                        </div>
                    </div>
                </div>
                <!-- Puedes agregar más productos aquí -->
            </div>
            <!-- Flecha derecha -->
            <button class="arrow right">&gt;</button>
        </div>
    </section>
    <section class="reviews">
        <h2>Reseñas de Productos</h2>

        <div class="reviews-container">
            <div class="review-card">
                <div class="user">
                    <img src="https://cdn-icons-png.flaticon.com/512/194/194938.png" alt="Juan David" />
                    <span>Juan David</span>
                </div>
                <p>Excelente producto, lo recomiendo</p>
                <div class="stars">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>
            </div>

            <div class="review-card">
                <div class="user">
                    <img src="https://cdn-icons-png.flaticon.com/512/194/194935.png" alt="Luis Felipe" />
                    <span>Luis Felipe</span>
                </div>
                <p>Buena calidad y precio accesible</p>
                <div class="stars">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>
            </div>

            <div class="review-card">
                <div class="user">
                    <img src="https://cdn-icons-png.flaticon.com/512/194/194936.png" alt="Susana Robles" />
                    <span>Susana Robles</span>
                </div>
                <p>Cumplió con mis expectativas</p>
                <div class="stars">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', path='js/carousel2.js') }}"></script>
</body>
<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-column">
                <div class="footer-info">
                    <div class="footer-heading">Comparte y ahorra en tus compras diarias</div>
                    <div class="footer-text">
                        Encuentra los mejores precios en supermercados y toma decisiones
                        inteligentes para tu hogar.
                    </div>
                </div>
                <div class="footer-actions">
                    <button class="footer-btn-primary">
                        <span class="footer-btn-text-primary">Explorar</span>
                    </button>

                    <button class="footer-btn-secondary">
                        <span class="footer-btn-text-secondary">Ayuda</span>
                    </button>
                </div>
            </div>
            <div class="footer-links-column">
                <div class="footer-link-list">
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Inicio</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Contáctanos</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Ayuda Online</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Política de Privacidad</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Términos de Uso</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-credits">
            <div class="footer-logo-row">
                <div class="footer-logo-container">
                    <img class="footer-logo" src="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}" />
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-bottom-row">
                <div class="footer-copyright">
                    © 2024 LuckasEnt. Todos los derechos reservados.
                </div>
                <div class="footer-social-links">
                    <a href="https://facebook.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Facebook.png') }}"
                            alt="Facebook" />
                    </a>
                    <a href="https://twitter.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/X.png') }}" alt="Twitter" />
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Instagram.png') }}"
                            alt="Instagram" />
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/LinkedIn.png') }}"
                            alt="LinkedIn" />
                    </a>
                    <a href="https://youtube.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Youtube.png') }}"
                            alt="YouTube" />
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>

</html>