<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - LuckasEnt</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/registrostile.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />
</head>

<body>
    <div class="logo">
        <span class="luckas">Luckas</span><span class="ent">ent</span>
    </div>
    <div class="container">
        <div class="login-box">
            <div class="section-title">
                <h2 class="log-in">Registrarse</h2>
                <p class="text">Accede a tu cuenta para comparar precios</p>
            </div>

            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}

            <form method="post" action="/register" class="form">
                <div class="frame-427318929">
                    <div class="input-default">
                        <label for="nombre" class="nombre">Nombre*</label>
                        <div class="input">
                            <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
                        </div>
                    </div>
                    <div class="input-default">
                        <label for="apellido" class="apellido">Apellido*</label>
                        <div class="input">
                            <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido" required>
                        </div>
                    </div>
                </div>

                <div class="frame-427318930">
                    <div class="input-default">
                        <label for="correo" class="correo-electr-nico">Correo Electrónico*</label>
                        <div class="input">
                            <input type="email" id="correo" name="correo" placeholder="Ingrese su correo electrónico"
                                required>
                        </div>
                    </div>
                    <div class="input-default">
                        <label for="telefono" class="n-mero-de-tel-fono">Número de teléfono*</label>
                        <div class="input">
                            <input type="text" id="telefono" name="telefono" placeholder="Ingrese su teléfono" required>
                        </div>
                    </div>
                </div>

                <div class="input-default2">
                    <label for="password" class="contrase-a">Contraseña*</label>
                    <div class="input">
                        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña"
                            required>
                    </div>
                </div>

                <div class="input-default2">
                    <label for="confirm_password" class="confirmar-contrase-a">Confirmar contraseña*</label>
                    <div class="input">
                        <input type="password" id="confirm_password" name="confirm_password"
                            placeholder="Reingrese su contraseña" required>
                    </div>
                </div>

                <div class="container-buttons">
                    <div class="buttons">
                        <button type="submit" class="button-primary">
                            <span class="button">Registrarse</span>
                        </button>

                        <button type="button" class="style-secondary-small-false-alternate-false-icon-position-leading">
                            <img src="{{ url_for('static', path='img/Google.png') }}" alt="Google" class="icon-google">
                            <span class="button2">Iniciar sesión con Google</span>
                        </button>
                    </div>

                    <a href="{{ url_for('olvidar') }}" class="link">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
    <a href="{{ url_for('login') }}" class="register-link">No tienes cuenta? <span>Inicia Sesión</span></a>
</body>
<footer>&copy; 2024 LuckasEnt</footer>

</html>